body {
  margin: 10px;
  overflow: hidden;
}

.selectors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.weathertype > *,
.monthselect > * {
  display: inline-block;
  margin: 5px;
}
